* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #9b59b6;
}

.todo-input-container {
    height: 100px;
    /* background-color: black; */
    padding: 20px;
}

.todo-input {
    height: 70%;
    width: 80%;
    padding: 10px;
    outline: none;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.add-todo {
    display: block;
    margin: auto;
    height: 75%;
    width: 15%;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    background-color: #8e44ad;
}

.todos-list-container {
    padding: 10px;
}

.todo-item {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background-color: #8e44ad;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.todo {
    color: white;
    font-size: 20px;
    margin: auto;
}

.delete-todo {
    background-color: #e74c3c;
    color: white;
    width: 70px;
    height: 25px;
    border: none;
}